html {
  box-sizing: border-box;
  background-color: #eee9de;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

section {
  text-align: center;
  vertical-align: middle;
  margin: 0;
}

.box1 {
  display: inline-block;
  max-width: 25em;
  margin-top: 1.5rem;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 1.5em;
}

img {
  display: block;
  width: 100%;
  margin-top: auto;
  margin-bottom: auto;
}

.box2 {
  max-width: 25em;
  display: inline-block;
  text-align: left;
  margin-top: 1rem;
  padding-top: 1.5em;
  padding-left: 1em;
  padding-right: 1em;
  margin-bottom: 3em;
}

h2 {
  font-family: Lato, sans-serif;
  margin: 0 auto;
  padding-bottom: .4em;
}

p {
  display: inline-block;
  font-family: Lato, sans-serif;
  color: #333;
  font-style: normal;
  line-height: 1.5rem;
  padding-bottom: .4em;
}

.btn {
  font-family: Lato, sans-serif;
  font-size: 1.125rem;
  font-style: normal;
  text-decoration: none;
  color: #333;
  border-radius: 8px;
  border: 3px solid #333;
  background-color: #eee9de;
  padding: .5em .75em;
}

.btn:hover {
  background-color: #666;
  color: #fff;
  border-radius: 6px;
}
