html {
  box-sizing: border-box;
  background-color: #eee9de;
}

*, *::before, *::after {
  box-sizing: inherit;
}

section {
  /*display:inline-block;*/
  text-align: center;
}

.box1 {
  display: inline-block;
  max-width: 25em;
  /*margin: 0 auto;*/
}

img {
  display: block;
  /*margin-left: auto;
  margin-right: auto;*/

  /*margin: auto;*/
  width: 100%;
}

.box2 {
  max-width: 25em;
  display: inline-block;
  text-align: left;
  vertical-align: top;

}

h2 {
  font-family: Lato, sans-serif;
}

p {
  display: inline-block;
  font-family: Lato, sans-serif;
  color: #333;
  font-style: normal;
  line-height: 1.5rem;
  max-width: 25em;
}

.btn {
  font-family: Lato, sans-serif;
  font-style: normal;
  text-decoration: none;
  color: #333;
  border-radius: 6px;
  border: 3px solid #666;
  background-color: #eee9de;
  padding: .5em .75em;
}

.btn:hover {
  background-color: #666;
  color: #fff;
  border-radius: 6px;
  text-align: left;

}
